<div class="area"></div>
<nav class="main-menu"id="menu">
    <ul>
        <li>
            <a href="#">
                <!--<i class="fa fa-home fa-3x"></i> -->
                &nbsp;&nbsp;&nbsp;
                <img src="https://www.udemy.com/staticx/udemy/js/webpack/logo-coral-light.44c677ae363d92a927cb2067b222f9c3.svg"class="img-responsive">
            </a>


        </li>
        <br>


        <li class="has-subnav">
            <a href="#">
            <i class="material-icons fa-2x">
                video_library
            </i>
            &nbsp;&nbsp;
                    <span class="nav-text">
                    <strong>Courses</strong>
                </span>
            </a>

        </li>
        <br>
        <li class="has-subnav">
            <a href="#">
        <i class="material-icons">comment</i>
        &nbsp;&nbsp;
                <span class="nav-text">
                    Communication
                </span>
            </a>

        </li>
        <br>
        <li>
            <a href="#">
                <i class="fa fa-bar-chart-o fa-2x"></i>
                 &nbsp;&nbsp;
                <span class="nav-text">
                    Performance
                </span>
            </a>
        </li>
        <br>
        <li>
            <a href="#">
        <i class="material-icons">build</i>
         &nbsp;&nbsp;
            <span class="nav-text">
                Tools
            </span>
            </a>
        </li>
        <br>
        <li>
           <a href="#">
           <i class="material-icons">
            contact_support
           </i>

            &nbsp;&nbsp;

                <span class="nav-text">
                    Resources
                </span>
            </a>
        </li>
    </ul>

    <ul class="logout"style="margin-bottom:1299px;">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>
    </ul>
</nav>